{% extends 'base.html' %}

{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
    <div class="container">
        <div class="my-5">
            <a class="btn btn-primary" href="{% routablepageurl page "latest_post" %}"><h1>View Latest Post</h1></a>
        </div>
        <div class="my-5">
            <h2>Categories</h2>

            </ul>
            <ul class="list-group list-group-horizontal">

                {% for cat in categories %}
                    <a href="?category={{ cat.slug }}">
                        <li class="list-group-item">{{ cat.name }}</li>
                    </a>
                {% endfor %}

            </ul>
        </div>    
        <div class="my-5">

            {% for post in list_page %}
                <div class="row">
                    <div class="col col-sm-3">
                        {% image post.banner_image fill-250x250 as blog_img %}
                        <a href="{{ post.url }}">
                            <img class="card-img-top" src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                        </a>
                    </div>
                    <div class="col col-sm-9">
                        <a href="{{ post.url }}">
                            <h2>

                                {% if post.custom_title %}
                                    {{ post.custom_title }}
                                {% else %}
                                    {{ post.title }}
                                {% endif %}

                            </h2>

                            {% if post.specific.subtitle %}
                                <p>{{ post.specific.subtitle }}</p>
                            {% endif %}

                        </a>
                    </div>
                </div>
                <br />
            {% endfor %}

        </div>

        {% include 'components/pagination.html' %}

    </div>
{% endblock content %}